.loading-container{
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 9;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid transparent;
    border-bottom-color: var(--grayblack);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 