





.top-banner{
    height: 280px;
    width: 100vw;
    object-fit: cover;
    margin-bottom: 55px;
}

.products-wrapper{
    padding: '0 80px 0 80px';
    margin-bottom: 140px;
}
.products-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    width: calc(100vw - 160px);
    padding: 0 var(--padding) 0 var(--padding);
}
@media (max-width: '1500px') {
    .products-container{
        gap: 30px;
    }
}
.product-title{
    margin-left: calc(var(--padding) + 5px);
    font-size: 50px;
    font-family: 'ysabeau office', sans-serif;
    margin-bottom: 25px;
}
.product-card{
    width: 100%;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;

}
.product-price{
    position: absolute;
    top: -5%;
    right: 5%;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s;
}
.product-name{
    position: absolute;
    left: 5%;
    bottom: -5%;
    font-size: 20px;
    font-family: 'ysabeau office', sans-serif;
    transition: all 0.3s;
}
.product-card:hover  .product-name{
    bottom: 5%;
}
.product-card:hover .product-price{
    top: 5%;
}


.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.product-view{
    width: 100vW;
    height: 80vh;
    box-shadow: 0 -10px 40px var(--gray);
    background-color: white;
    position: fixed;
    top: 100%;
    left: 0;
    border-radius: 20px 20px 0 0;
    z-index: 99;
    padding: var(--padding);
    transition: all 0.8s;
}
#product-view-image{
    width: 60vh;
    height: 60vh;
    object-fit: cover;
}

.view-container{
    gap: 70px;
    height: max-content;
}
.view-cart-button{
    padding: 10px;
    color: whitesmoke;
    background-color: var(--black);
    width: max-content;
    font-size: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    margin-top: 30px;
}
.view-cart-button:hover{
    background-color: var(--red);
    color: var(--black);
}
.view-price{
    font-size: 40px;
    color: var(--gray);
}
.view-description{
    font-size: 30px;
    color: var(--gray);
}
.view-name{
    font-size: 60px;
}