@font-face {
  font-family: 'glamor';
  src: url('../assets/Glamor-Medium.ttf');
}

body{
  padding: 0 50px 0 50px;
}

/* global short classes */

.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.horizontal{
  justify-content: center;
}
.vertical{
  align-items: center;
}

