@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');

@font-face {
  font-family: 'glamor';
  src: url('../assets/Glamor-Medium.ttf');
}

:root{
  --black : #171717;
  --gray : #737373;
  --red: #F23F3F;
}

body{
  user-select: none;
  cursor: default;
  -webkit-user-select: none;
  overflow-x: hidden !important;
  background-color: #F5F5F5;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
}
input:focus{
  outline: none;
}
/* global short classes */

.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.horizontal{
  justify-content: center;
}
.vertical{
  align-items: center;
}
.cursor{
  cursor: pointer;
}
.padding{
  padding-left: 80px;
  padding-right: 80px;
}